<?xml version="1.0" encoding="utf-8" ?>
<bootstrapper>
  
  <Controls>
    <Control Name="MainWindow" Element="Remote_Notepad.UI.MainWindow,Remote_Notepad.UI"/>
    <Control Name="LoginControl" Element="Remote_Notepad.Control.LoginControl,Remote_Notepad.Control"/>
    <Control Name="DashboardControl" Element="Remote_Notepad.Control.DashboardControl,Remote_Notepad.Control"/>
    <Control Name="ViewMessagesControl" Element="Remote_Notepad.Control.ViewMessagesControl,Remote_Notepad.Control"/>
    <Control Name="ViewProfileControl" Element="Remote_Notepad.Control.ViewProfileControl,Remote_Notepad.Control"/>
    <Control Name="AddMessageControl" Element="Remote_Notepad.Control.AddMessageControl,Remote_Notepad.Control"/>
    <Control Name="ErrorControl" Element="Remote_Notepad.Control.ErrorControl,Remote_Notepad.Control"/>
    
  </Controls>
  
  <Services>
  <Service Name="FrontServiceClient" Element="Remote_Notepad.Service.Client.Stub.FrontServiceClient,Remote_Notepad.Service.Client.Stub"/>
  </Services>

</bootstrapper>